
.Menu
  display: flex
  flex-wrap: wrap
  margin: 20px
  gap: 20px
  a
    background-color: #FFF
    border-radius: 12px
    display: inline-block
    height: 300px
    position: relative
    flex: 1 0 auto
    height: auto
    min-width: 100px
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex
    justify-content: center
    align-items: center
    text-decoration: none
    font-size: 20px
    color: #000
    &:before
      content: ''
      display: block
      padding-top: 100%



